html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
}

div, html, body{
  height: 100%;
}

body {
  background-color: #FFAB1E;
  font-size: 67.5%;
  font-family: Helvetica, Tahoma, Verdana, sans-serif;

  /* disable highlighting */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



html.mm-opened.mm-zoom-menu body
{
   background: #333;
}
html.mm-opened.mm-zoom-menu.mm-light body
{
  background: #f3f3f3;
}
html.mm-opened.mm-zoom-menu.mm-black body
{
  background: #000;
}
html.mm-opened.mm-zoom-menu.mm-white body
{
  background: #fff;
}
html.mm-opened.mm-zoom-menu .mm-page
{
  background-color: #fff;
}

.mm-menu li .fa
{
  margin: 0 20px 0 5px;
  font-size: 16px;
  width: 12px;
}
body.no-iconbar .mm-menu li .fa
{
  display: none !important;
}
body.no-buttonbars .mm-menu li.buttonbar-item
{
  display: none !important;
}
body.no-labels .mm-menu .mm-label,
body.no-labels .mm-menu .mm-collapsed,
.Collapsed
{
  display: none !important;
}
body.no-toggles .mm-menu li .mm-toggle
{
  display: none !important;
}


.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}



.header,
.content,
.footer
{
  text-align: center;
}
.header,
.footer
{
  background: #0E563B;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  line-height: 40px;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  width: 100%;
  height: 40px;
  padding: 0 50px;
}
.header.mm-fixed-top
{
  position: fixed;
  top: 0;
  left: 0;
}
.header a
{
  background: center center no-repeat transparent;
  background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );

  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 10px;
}
.header a.contacts
{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAVNJREFUeNq01jFLAzEYxvH2UBCxiIiDUhzcdXCyIk5ufgUXLR37JdxcXBxcuwmOOtml0EKpo04iWIpIQREVEVFLjf9AhoC9e3O5uxd+lMLdPU1yedO8UiqXdQWO122ghi4+8IwGqiiId+uRCHbxqsLrFHNRz5ACSnhTch1EPScQpnIH0w7TWcGiz5rouS45rtkMVnxCJrAQ4yUq+oT8YhAjZOAT8oWHGCE9nxC9H64cA15w4xOiW0HbfErVNhvUa8c3cecQcoZv3xA9z+fCNbe4SNq7jvEUMaUnuE/au7SjkHbSR1G637ULh73Kn+gn7cIBttELGckQh9Jo8iMOrSksYx2b2MKk8FuvUUcHl/9GbiWuooYu3pVf/eARLZQxbp8na2YR0659e+HLmM/geN+z98lSRv8hZu2QQkYh+kzKjZkvHdPahymH6DNp5Cucev0JMAAkKj0NEoYBJwAAAABJRU5ErkJggg==);
}
.header a.right
{
  left: auto;
  right: 10px;
}







.flashcardFront {
  background-image: url('/static/flashcard.png');
}


#flipbox {
  position: absolute;
  width: 400px;
  height: 200px;
  line-height: 200px;
  background-color: #ffffff;
  font-family: 'ChunkFive Regular', Tahoma, Helvetica;
  font-size: 1.5em;
  color: #000000;
  text-align: center;
}

#flipbox span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;     
}

.pronounce {
  color: red;
}


.flashcardShadow {
  transition: box-shadow 400ms;
  -webkit-box-shadow: 14px 14px 23px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 14px 14px 23px 0px rgba(0,0,0,0.75);
  box-shadow: 14px 14px 23px 0px rgba(0,0,0,0.75);
}


#innerContainer {
  position:    absolute;
  left:        50%;        /* Start with top left in the center */
  top:         50%;
  width:       400px;      /* The fixed width... */
  height:      200px;      /* ...and height */
  margin-left: -200px;     /* Shift over half the width */
  margin-top:  -100px;      /* Shift up half the height */
}

.toggleFix {
  margin: 22x auto; 
  height: 30px;
  width: 90px;
  text-align: center;
  font-family: sans-serif;
}

.toggleFont {
  font: inherit;
  font-size: 14px;
  line-height: 14px;
  margin-top: -10px;
  position: absolute;
  left: 80px;
  top: 50%;
}

.settingFont {
  font: inherit;
  font-size: 14px;
  line-height: 14px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  height: 50px;
}